/**
 * Template: teachpress 2016 template
 * Version: 1.0
 * Author: Michael Winkler
*/
td.tp_pub_info {border-bottom:1px solid silver; vertical-align:top; padding:8px;}
.tp_pub_author, #content p.tp_pub_author {font-size:small; margin-bottom:1px; margin-top:1px;}
.tp_pub_title, #content p.tp_pub_title {font-size:small; font-weight:bold; margin-top:1px; margin-bottom:1px;}
.tp_pub_additional, #content p.tp_pub_additional {font-size:small; margin-top:1px; margin-bottom:1px;}
.tp_pub_tags, #content p.tp_pub_tags  {font-size:small; margin-top:1px; margin-bottom:1px; color:#AAAAAA;}
.tp_pub_tags a {color:#AAAAAA; text-decoration:underline; box-shadow: none;}
.tp_pub_tags a:hover {color:#AAAAAA; text-decoration:none;}
.tp_pub_type {background-color: #008bd2; color: #fff; display: inline-block; padding: 3px 4px; margin-left: 5px; font-size: 10px; font-weight: bold; line-height: 1; border-radius: 2px; box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);}
.tp_pub_label_status {background-color: orange; color: #fff; display: inline-block; padding: 3px 4px; margin-left: 5px; font-size: 10px; font-weight: bold; line-height: 1; border-radius: 2px; box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);}

