/* Help section */
a.teachpress_delete {color:#a00; text-decoration:none; font-size:12px; font-weight:bold;}
a.teachpress_delete:hover {text-decoration:underline; color:red;}
.tp_print th {border:1px solid black; padding:5px 5px 5px 5px;}
.tp_print td {border:1px solid black; padding:5px 5px 5px 5px;}
.teachpress_message {background-color: #fff; box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); padding: 10px 12px; margin: 5px 0 15px 0;}
.teachpress_message_green {border-left: 4px solid #7ad03a;}
.teachpress_message_red {border-left: 4px solid red;}
.teachpress_message_orange {border-left: 4px solid orange;}
.teachpress_message_headline {font-weight:bold; font-size:1.1em;}
.teachpress_message_text {padding-left:10px;}

/* others */
h3.tp_postbox {padding: 8px 12px; margin: 0; line-height: 1.4; cursor:default !important; font-size: 14px; border-bottom: 1px solid #eee;}
.tp_mass_edit_right {width:67%; float:left; padding-left: 1%;}
td.tp_course_child {padding-left:25px; background: url(../images/child.png) no-repeat 8px 6px;}
.tp_checkbox {margin-left:8px; padding-left:7px; text-align:left;}
.tp_actions {padding: 0 0 10px 0;}
.tp_bookmarks_checked {color:#bbb;}
.teachpress_cloud a {text-decoration: none; padding-left: 2px;}
.tp_open_readme{cursor: pointer; color: #444;}
.options_for_number{display: none;}

/* Action menus */
.tp_row_actions {visibility: hidden;padding: 2px 0 0; color:#ddd;}
.tp_row_actions a:hover {color:#ff6600;}
tr:hover .tp_row_actions {visibility: visible;}
.tp_row_actions-visible {padding: 2px 0 0;cursor: pointer;}
a.tp_row_delete, a.tp_file_delete {color:#a00;}
a.tp_row_delete:hover, a.tp_file_delete:hover {color:red;}

/* buttons */
#teachpress_add_capability { background: url( ../images/user-new-3.png) no-repeat 7px 3px; background-size: 17px auto; padding-left: 30px !important; }
#teachpress_add_signup { background: url( ../images/document-new-6.png) no-repeat 7px 3px; background-size: 17px auto; padding-left: 30px !important; }
#teachpress_add_artefact { background: url( ../images/folder-new-7.png) no-repeat 7px 3px; background-size: 17px auto; padding-left: 30px !important; }
#teachpress_add_assessment { background: url( ../images/bookmark-new-4.png) no-repeat 7px 3px; background-size: 17px auto; padding-left: 30px !important; }
#teachpress_send_mail { background: url( ../images/mimetypes/text-plain.png) no-repeat 7px 3px; background-size: 17px auto; padding-left: 30px !important; }
#teachpress_create_list { background: url( ../images/mimetypes/application-opendocument.spreadsheet.png) no-repeat 7px 3px; background-size: 17px auto; padding-left: 30px !important; }
#teachpress_create_xls { background: url( ../images/mimetypes/application-msexcel.png) no-repeat 7px 3px; background-size: 17px auto; padding-left: 30px !important; }
#teachpress_create_csv { background: url( ../images/mimetypes/text-csv.png) no-repeat 7px 3px; background-size: 17px auto; padding-left: 30px !important; }

/* assessments */
.tp_assessment  { padding: 5px 7px; float: left; cursor: pointer; text-align: center; font-weight: bold; color:red; }
.tp_assessment:hover { color: #d54e21; }
.tp_assessment_comment { border-color: #999 !important; }
.tp_assessment_passed { color:black;}
.tp_assessment_delete {visibility: hidden;}
.tp_assessment_selected {background-color: #0074a2; color: #fff;}
.tp_assessment:hover .tp_assessment_delete {visibility: visible;}
.tp_description {display: none;}

/* filelists */
.tp_filelist { padding-top: 5px; max-width: 680px;}
.tp_filelist .tp_file { padding: 8px 8px 8px 30px; border: solid 1px #ccc; margin-bottom: 4px; z-index: 123; position: relative; background: no-repeat 4px 8px; background-size: 20px 20px;}
.tp_file_headline { background-color: #eee !important;}
.tp_file_headline .tp_file_name {font-weight: bold;}
.tp_filelist .tp_fileprogress { background: #0074a2; height: 5px;}
.tp_file_actions {margin-left: 0; visibility: hidden; position: absolute; right: 5px; top:10px; font-size: 12px; z-index: 1; color:#ddd;}
.tp_file_size {margin-left: 0; visibility: visible; position: absolute; right: 5px; top:10px; font-size: 12px; z-index: 1; color:#aaa;}
.tp_file:hover .tp_file_size{visibility:hidden;}
.tp_file:hover .tp_file_actions{visibility:visible;}
.tp_file a:hover {color: #ff6600;}
a.tp_file_view {text-decoration: none;}

/* jQuery UI Sortable */
#tp_sortable>li {cursor: move; min-height: 20px; background-color: #fff;}
.ui-state-highlight { height: 20px; padding: 8px 8px 8px 8px; border:1px dotted #ccc; }